<% if flash[:warn] %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= flash[:warn] %>
    </div>
<% end %>
<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
<% end %>
<div class="container">
  <div class="card card-container">
    <%= form_for(:suggest, url: '/suggest', :html => {:class => "form-signin"}) do |f| %>
        <%= f.label :isbn %><%= f.text_field :isbn, :placeholder => 'ISBN' , :class => "form-control"%>
        <%= f.label :title %><%= f.text_field :title, :placeholder => 'Title' , :class => "form-control"%>
        <%= f.label :author %><%= f.text_field :author, :placeholder => 'Author' , :class => "form-control" %>
        <%= f.label :description  %><%= f.text_area :description, :placeholder => 'Description', :class => "form-control" %>
        <%= f.submit "Suggest Book", :class => "btn btn-lg btn-primary btn-block btn-signin" %>
    <% end %>
  </div>
</div>