<% if current_user
     if !current_user.admin?
        controller.redirect_to '/'
   end
end %>

<% if flash[:warn] %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= flash[:warn] %>
    </div>
<% end %>
<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
<% end %>
<div class="container">
  <div class="card card-container">
    <%= form_for(:user, url: '/users', :html => {:class => "form-signin"}) do |f| %>

        <%= f.label :first_name %>(Length can't be greater than 50)
        <%= f.text_field :first_name, :placeholder => 'First Name', :class => "form-control" ,:required=>true%>
        <%= f.label :last_name %>(Length can't be greater than 50)
        <%= f.text_field :last_name, :placeholder => 'Last Name' , :class => "form-control",:required=>true%>
        <%= f.label :email %>
        <%= f.email_field :email, :placeholder => 'Email' , :class => "form-control" %>
        <%= f.label :password %>(Length can't be less than 6)
        <%= f.password_field :password, class: 'form-control',:required=>true %>

        <%= f.label :password_confirmation, "Confirmation" %>(Length can't be less than 6)
        <%= f.password_field :password_confirmation, :onkeyup => 'validatePassword()', class: 'form-control',:required=>true %>
        <% if current_user && current_user.admin? %>
            <%= f.label :role %>
            <div class="dropdown">
              <div class="form-group">

                <%= f.collection_select :role, User::ROLE, :to_s, :to_s, :status =>true ,:html => {:class => "form-control"}%>
                <%= f.submit "Create Admin", :class => "btn btn-lg btn-primary btn-block btn-signin" %>
              </div>
            </div>

        <% end %>
        <% if !current_user %>
            <%= f.submit "Sign Up", :class => "btn btn-lg btn-primary btn-block btn-signin" %>
        <% end %>
    <% end %>
  </div>
</div>
