<% if flash[:warn] %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= flash[:warn] %>
    </div>
<% end %>
<div class="container">
  <div class="card card-container">
    <%= form_for(:user, url: '/users', :html => {:class => "form-signin"}) do |f| %>
        <%= f.text_field :first_name, :placeholder => 'First Name', :class => "form-control" %>
        <%= f.text_field :last_name, :placeholder => 'Last Name' , :class => "form-control"%>
        <%= f.email_field :email, :placeholder => 'Email' , :class => "form-control" %>
        <%= f.password_field :password, :placeholder => 'Password', :class => "form-control" %>
        <%= f.submit "Sign Up", :class => "btn btn-lg btn-primary btn-block btn-signin" %>
    <% end %>
  </div>
</div>