
<% if current_user && current_user.admin? %>
    <div class="container">
      <h2>Checkout History</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Checkout date/Time</th>
          </tr>
          </thead>
          <tbody>
            <% @books.map do |book| book[:isbn] %>
              <tr>
                <td style="word-wrap: break-word"><%= @user.first_name %></td>
                <td style="word-wrap: break-word"><%= @user.last_name %></td>
                <td style="word-wrap: break-word"><%= @user.email %></td>
                <td style="word-wrap: break-word"><%= book.isbn %></td>
                <td style="word-wrap: break-word"><%= book.title %></td>
                <td style="word-wrap: break-word"><%= book.author %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
<%end %>

</p>


<hr />
<%= link_to 'Back', {:action => 'index'} %>