<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
<% end %>
<% if flash[:warn] %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= flash[:warn] %>
    </div>
<% end %>

<div class="container">
  <% if current_user && current_user.admin?%>
  <h4>Enter the email id of the user whose history you would like to view. </h4>
  <%= form_for(:checkouthistory, url: '/checkouthistory', :html => { :method => 'GET' }) do |f| %>
  <%= f.email_field :email_id,:required => true ,:placeholder => 'Enter emailid', :class => "form-control" %>

      <%= f.submit "Search", :class => "btn btn-lg btn-primary btn-block btn-signin" %>
  <% end
  end%>

  <% if current_user && @books && @books.length!=0 %>
  <div class="container">
    <h2>Checkout History for the user </h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>ISBN</th>
          <th>Title</th>
          <th>Checkin Time</th>
          <th>Checkout Time</th>
        </tr>
        </thead>
        <tbody>
        <% @books.each do |book| %>
            <tr>
              <td style="word-wrap: break-word"><%= book.isbn %></td>
              <td style="word-wrap: break-word"><%= book.title %></td>
              <td style="word-wrap: break-word"><%= book.checkin %></td>
              <td style="word-wrap: break-word"><%= book.checkout %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%end %>
</div>