<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
<% end %>

<% if current_user && current_user.member? %>
<div class="container">
  <h2>List of Books Used</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <% @books.each do |book| %>
          <tr>
            <td style="word-wrap: break-word"><%= book.isbn %></td>
            <td style="word-wrap: break-word"><%= book.title %></td>
            <td style="word-wrap: break-word"><%= book.author %></td>
            <td style="word-wrap: break-word"><%= book.description %></td>
            <td style="word-wrap: break-word"><%= book.status %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%end %>