<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
<% end %>
<% if flash[:warn] %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= flash[:warn] %>
    </div>
<% end %>
<%
   if current_user && current_user.admin? && @books
%>
<div class="container">
  <h2>Checkout History of the book </h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Checkin Time</th>
        <th>Checkout Time</th>
      </tr>
      </thead>
      <tbody>
      <% @books.each do |book| %>
          <tr>
            <td style="word-wrap: break-word"><%= book.isbn %></td>
            <td style="word-wrap: break-word"><%= book.title %></td>
            <td style="word-wrap: break-word"><%= book.first_name %></td>
            <td style="word-wrap: break-word"><%= book.last_name %></td>
            <td style="word-wrap: break-word"><%= book.checkin %></td>
            <td style="word-wrap: break-word"><%= book.checkout %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%
   end %>